{% extends 'base_assets.html' %}
   

    {% block title %}<title>Subassets</title>{% endblock%}


    {% block content %}
      



                  <div class="alert alert-primary" role="alert">
                <div class="row justify-content-center">
                {{Asset.denumire}}
                </div>
                </div>
            


<div class="row">
    <table class="table">

        <thead>
             <tr>
                <th scope="#">#</th>
                <th scope="col">Statie Lucru</th>
                <th scope="col">Linie Productie</th>
                <th scope="col">Data Adaugare</th>
                <th scope="col">ID</th>
            </tr>
        </thead>

        <tbody>

            {% for subasset in SubAsset %}
               <tr>
                <td>{{subasset.pk}} </td>            
                <td>{{subasset.denumire}} </td>   
                <td>{{subasset.Asset}}</td>         
                <td>{{subasset.data_adaugare|date:"M d, Y"}} </td>            
                <td>{{subasset.ID_SubAsset}} </td>            
               </tr>
            {% endfor %}                
 
         </tbody>


    </table>
</div>


{% if SubAsset.has_other_pages %}
<nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if SubAsset.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ SubAsset.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

      {% for page_num in SubAsset.paginator.page_range %}
        {% if SubAsset.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if SubAsset.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ SubAsset.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
</nav>
{% endif %}


<div class="row">
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'assets_airbag_newsubasset' pk=Asset.pk %}">ADAUGA STATIE LUCRU</a></button> 
</div>

</div>
      {% endblock %}

