{% extends 'GAIA_ME_CORECTIVA_TEMPLATES/base_me_corectiva_productie.html' %}



   {% block content %}
   <div class="card text-dark bg-light mb-3 border-primary">

          
              <div class="card-body  ">
              <p class="card-title "><strong>Utilizator: {{user.username}}</strong></p><hr/>
              <p class="card-text"><strong>Departament: {{user.employee.department}}</strong></p><hr/>
              <p class="card-text"><strong>Zona: {{user.employee.Zona}}</strong></p><hr/>
                <a href="{% url 'user_logout' %}" class="btn btn-outline-primary" >Delogare Utilizator</a>
          </div>

    </div>    


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'GAIA_ACCOUNTS:accounts_main'  %}">RAPOARTE DESCHISE </a>
  </li>
</ul>   

<div class="container_rapoarte">

      {%for raport in Raport_asset %}
          
        <div class="card text-dark bg-light mb-3 border-success">
           <div class="card-header border-success "><strong>ZONA: {{raport.Asset.Zona}}</strong></div>
                 
          <div class="card-body  ">
              <p class="card-title "><strong>Raport Linie Productie</strong></p><hr/> 
              <p class="card-title "><strong>Linie Productie: {{raport.Asset}}</strong></p><hr/>
              <p class="card-text"><strong>Denumire Raport: {{raport.denumire}}</strong></p><hr/>
              <p class="card-text"><strong>Incheiat de: {{raport.NUME_MAINT}}</strong></p><hr/>
              <a href="{% url 'raportnouasset1.1' pk=raport.pk %}" class="btn btn-outline-success" > Inchidere Raport ME</a>
          
          </div>
        </div>
   
     

    {%endfor%}

 
    {%for raport in Raport_subasset %}
      
        <div class="card text-dark bg-light mb-3 border-success">
           <div class="card-header border-success "><strong>ZONA: {{raport.Asset.Zona}}</strong></div>
                 
          <div class="card-body  ">
              <p class="card-title "><strong>Raport Statie Lucru</strong></p><hr/> 
              <p class="card-title "><strong>Linie Productie: {{raport.Asset}}</strong></p><hr/>
              <p class="card-text"><strong>Statie Lucru: {{raport.SubAsset}}</strong></p><hr/>
              <p class="card-text"><strong>Denumire Raport: {{raport.denumire}}</strong></p><hr/>
              <p class="card-text"><strong>Incheiat de: {{raport.NUME_MAINT}}</strong></p><hr/>
              <a href="{% url 'raportnousubasset1.1' pk=raport.pk %}" class="btn btn-outline-success" > Inchidere Raport ME</a>
              
          </div>
        </div>
   

    {%endfor%}


</div>

    {% endblock %}





 

